@model IEnumerable<AdminBlog.Models.Category>
@{
    ViewData["Title"] = "Category";
}

<button type="button" onclick="$('#CategoryModal').modal('show')" class="btn btn-primary">Kategori Ekle</button>

<table class="table table-hover">
    <thead>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col"></th>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
            <th scope="row">@item.Id</th>
            <td>@item.Name</td>
            <td><a class="btn btn-danger" asp-route-id="@item.Id" asp-action="DeleteCategory">Sil</a>
            <button class="btn btn-secondary" onclick="updateForm(@item.Id)" type="button" >Güncelle</button>
            </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal" id="CategoryModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Kategori :</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="/Home/AddCategory" autocomplete="off">
      <div class="modal-body">
        <div class="form-group">
            <input type="hidden" name="Id" id="Id" class="form-control">
            <input type="text" name="Name" id="Name" class="form-control">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="clearForm()" data-dismiss="modal">Kapat</button>
        <button type="submit" id="saveBtn" class="btn btn-primary">Ekle</button>
        <button type="submit" id="updateBtn" class="btn btn-primary">Güncelle</button>
      </div>
      </form>
    </div>
  </div>
</div>
@section Scripts{
  <script>
    $(() => clearForm())
    function updateForm(Id){
      fetch('/Home/CategoryDetails?Id='+Id)
      .then(res => res.json())
      .then(res =>{
          $('#Id').val(res.id)
          $('#Name').val(res.name)
      })
      $('#saveBtn').hide();
       $('#updateBtn').show();
      $('#CategoryModal').modal('show');
    }
    function clearForm(){
        $('#Id').val(null)
          $('#Name').val(null)
       $('#saveBtn').show();
       $('#updateBtn').hide();
    }
  </script>
}