@model IEnumerable<AdminBlog.Models.Blog>
@{
    ViewData["Title"] = "Author";
}



<table class="table table-hover">
    <thead>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col"></th>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
            <th scope="row">@item.Id</th>
            <td>@item.Title</td>
            <td>
                @if(item.IsPublish){
                <a class="btn btn-success" >Yayınlandı</a>

                }else{
                <a class="btn btn-light" asp-route-id="@item.Id" asp-action="Publish">Yayınla</a>
                }
            </td>
            </tr>
        }
    </tbody>
</table>


